<header>
    <div class="container">
        <h1>
            {{#if @site.logo}}
                <a class="site-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
            {{/if}}
        </h1>
        <p id="description">{{@site.description}}</p>
        </div>
</header>