.modal{
    font-family: botanika-mono-web, monospace;
    font-size: 16px;
    line-height: 22px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #fff;
    border-radius: 30px;
    z-index: 10;
    width: 80%;
    max-width: 1400px;
    max-height: 80%;
    padding: 60px;
    overflow-y: auto;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

.modal-image img{
    width: auto;
    width: 100%;
}

.modal .columns{
    justify-content: space-between;
}

.modal h2{
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 16px;
}

.modal-content{
    margin: 26px 0 66px 0;
}

.border{
    border: 1px solid var(--black);
    padding: 22px 24px;
    position: relative;
}

.modal .columns{
    column-gap: 60px;
}

.modal .post-card-byline-author{
    font-size: 20px;
}

.close-btn{
    height: fit-content;
    background-color: transparent;
    cursor: pointer;
}

.close-btn img{
    width: 40px;
    height: 40px;
}

.db-mobile{
    display: none;
    margin-bottom: 25px;
}

.close-btn.db-mobile{
    margin-top: 0;
}

@media all and (max-width: 950px){
    .modal{
        max-width: 600px;
        padding: 25px;
    }

    .modal .post-date{
        padding-left: 0;
        margin-bottom: 16px;
    }
    
    .modal .modal-image{
        margin-bottom: 25px;
        text-align: center;
    }

    .modal .col-2{
        width: 100%;
    }

    .modal .columns {
        flex-wrap: wrap;
    }

    .close-btn{
        width: 100%;
        text-align: right;
        margin-top: 26px;
    }

    .db-mobile{
        display: block;
    }
}